# Disk cache
build --disk_cache=bazel-cache

build --verbose_failures
build --incompatible_strict_action_env

# Databinding flags
common --experimental_android_databinding_v2
common --android_databinding_use_v3_4_args
common --android_databinding_use_androidx

common --experimental_google_legacy_api

# Java
build --java_runtime_version=remotejdk_11 # Use inbuilt Java 11 for hermeticity
build --jvmopt="-Djava.locale.providers=COMPAT,SPI" # Use Java 8 default locale provider

test --test_output=errors # Print test logs for failed tests
test --build_tests_only

run --ui_event_filters=-info,-stdout --noshow_progress

# Ci Config
common:ci --noshow_progress
common:ci --color=no

try-import local.bazelrc